body {
    font-family: "Open Sans";
    background-color: #3579B7;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #A3BCF9;
    font-size: 25px;
}

h1 {
    font-size: 50px;
}

#left {
    margin-left: 30px;
    float: left;
}

h2 {
    font-size: 50px;
}

#slogan {
    font-size: 10vh;
    margin: 15vh 0;
}

header {
    height: 105vh;
    width: 100%;
}

#banner {
    height: 135px;
    width: 100%;
    background-color: white;
    color: black;
}

.option {
    display: inline-block;
    padding: 20px;
    font-size: 22px;
    margin: 32.5px 0;
}

#right {
    margin-right: 30px;
    float: right;
    width: auto;
}

.section {
    padding: 15vh 20%;
    color: #131515;
}

.section h2 {
    padding: 0;
    margin: 10px;
    color: #A3BCF9;
}

.underline {
    height: 3px;
    width: 50px;
    background-color: white;
    margin: 0 auto;
}